<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
</head>

<body>
  <header>
    <nav>
      <div class="nav-wrapper">
        <a href="{{url_for('get_tasks')}}" class="brand-logo center">Logo</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="{{url_for('get_tasks')}}">Home</a></li>
          <li><a href="{{url_for('add_task')}}">New Task</a></li>
          <li><a href="{{url_for('get_categories')}}">Manage Categories</a></li>
        </ul>
      </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
      <li><a href="{{url_for('get_tasks')}}">Home</a></li>
      <li><a href="{{url_for('add_task')}}">New Task</a></li>
      <li><a href="{{url_for('get_categories')}}">Manage Categories</a></li>
    </ul>
  </header>

  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
  <!-- scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" integrity="sha512-NiWqa2rceHnN3Z5j6mSAvbwwg3tiwVNxiAQaaSMSXnRRDh5C2mk/+sKQRw8qjV1vN4nf8iK2a0b048PnHbyx+Q==" crossorigin="anonymous"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.collapsible').collapsible();
      $('select').formSelect();
      $('.sidenav').sidenav();

      $('.datepicker').datepicker();
      // $('.sidenav').sidenav();
      // document.getElementById("matfix").addEventListener("click", function(e) {
      //   e.stopPropagation();
      // });
    });
  </script>
</body>

</html>
